:root {
  --bannerGradient: linear-gradient( #010d43, #480053 );;
  --backgroundColor:
  }

  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }


section.header h1{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 4em;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 0.28em !important;
  font-weight: 500;
  line-height: 1.3;
  color: #ffffff  !important;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}


.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  background: var(--bannerGradient);
  color: white;
  border-radius: 10px;
}


/* Additional CSS rules */
body {
    background-image: url(https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);   
  } /* Transforms the background image of our body */
  
.bigwrapper{
  background: var(--bannerGradient);
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #000000;
  border-radius: 10px;
}
/* Grid item - mobile friendly adaption */
.grid_items {
  padding: 3.75%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
}

@media only screen and (min-width: 840px) {
  .grid_items {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
  .grid_items > div {
    padding: 20px;
  }
}
@media only screen and (min-width: 1081px) {
  .grid_items {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 30px;
  }
}


#box {
  background-color: #fbfbfb88;
  border: 1px solid black;
  box-shadow: 5px 5px 15px #00000061;
  border-radius: 10px;
}

#box h3 {
  text-align: center;
  font-weight:bolder;  
  color: #ffffff;
  font-size: 1.8em;
}

#box p {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #ffffff;
  font-size: 1.5em;
}

#box-alt {
  background-color: #fbfbfb88;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #0000008b;
  border-radius: 10px;
  margin: 2em 2em -0.8em 2em;
}

#box-alt h3 {
  text-align: justify;
  font-weight:bolder;  
  color: #ffffff;
  font-size: 2em;
}

#box-alt p {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #ffffff;
  font-size: 1.6em;
}

#over {
  margin-left: auto;
  margin-right: auto;
  display: block;
}



  /* Button stuff */

  .button-top {
    font-size: 1.0em;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px; 
  }
  
  .button-top:hover {
    background-color: white;
    color: #0d227d;
  }
  
	.button {
		background-color: #010d43;
		border-radius: 7.5px;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		text-align: center;
    text-decoration: none;
    font-weight:600;
	}

  .button:hover {
    background-color: #010d43c0;
    color: #0d227d;
  }

  button.fit,
  .button.fit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1em;
    margin-bottom: 0.8em;
    width: 80%;
    padding: 8px;
  }



/* Heading and title effects*/  
  .two h1 {
    text-transform: capitalize;
  }
  .two h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #c50000;
  }
  
  .two h1 span {
    font-size: 1.0px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
  }
  .alt-two h1 {
    text-align:center;
  }
  .alt-two h1:before {
    left:50%; margin-left:-30px;
  }
  


  
/* All slideshow elements below this */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;  
  margin-top: 1%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  }

.mySlides img{
  width: 800px; height: 500px; object-fit: scale-down;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.9em;
  padding: 8px 12px;
  position: relative;
  top: 30px;
  left: 47.5%;
  font-family: "Raleway", sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}